/*******ESTILO DE MENU@carolyne Fernandez*********/
.menu {
    width: 100%;
    position: absolute;
}
.menu .navbar {
    background: transparent;
    padding: 0px;
    border: 0px;
    border-radius: 0px; 
}
.menu .navbar .nav .nav-item {
      margin-right: 45px; 
}
.menu .navbar .nav .nav-item .nav-link {
    font-size: 13px;
    font-weight: 500;
    line-height: 40px;
    text-transform: uppercase;
    color: white;
    padding: 0px;
    display: inline-block; 
}

.menu .navbar .nav .nav-item:hover .nav-link, .menu .navbar .nav .nav-item.active .nav-link {
    color: palevioletred;
}

.menu .navbar .nav .nav-item.submenu ul .nav-item {
    margin-right: 0px;
    margin-left: 0px;
    transition: all 0.4s linear; 
}
.menu .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
    line-height: 45px;
    color: #222222;
    padding: 0px 30px;
    display: block;
    text-transform: capitalize; 
}
/*color y fondo para los submenus*/
.menu .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
  background-color:crimson;
  color: #fff; 
}


/*********@MEDIAS*************/
@media (max-width: 990px) {
    .navbar-toggler span {
		display: block;
		width: 25px;
		height: 3px;
		background: #fff;
		margin: auto;
		margin-bottom: 4px;
		transition: all 400ms linear;
		cursor: pointer;
	}
    
    .menu {
        position: relative;
		background: #222222;
	}
    .menu_nav{
        padding: 5%;
    }
}

.bannerHeader {
  background: linear-gradient(rgba(3, 1, 10, 0.5), rgba(3, 1, 10, 0.5)), url(../imagenes/general/sliderMujerDetalle.jpg) no-repeat scroll center center;
}