body{
    margin:auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{
    width:300;
    height:200;
}
.cuadro{
	width: 1000px;
	margin: 0 auto;
}

.cuadro {
    text-align: center;
    margin: 30px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    transition: all 0.5s;
}

.cuadro:hover {
    border: 1px solid #777;
    transform: scale(1.05,1.05);
}

.cuadro img {
    width: 100%;
    height: auto;
}
.centro{
    text-align: center;
    width: 40%;
    font-size: 70%;
    margin: auto;
}

.clear{
	clear:both;
}