.bloqueFondo {
    background-image: url(../imagenes/opiniones/fondo.jpg);
    background-color: darkblue;
    height: 60px;
    display: block !important;        
}
.contenido {
   border: 1px solid lightgrey;
    border-radius: 5%;
}

.logo {
    width: 40%;
    margin: -30px 5px 0 8px;
    float: left;
    border: 2px solid #fff;
    border-radius: 7px;
}


.contenidoSeguidores{
     margin-left: 10%;
    padding-left: 1%;
}
        
.contenidoSeguidores p{
        padding: 3%;
    display: table-cell;
    text-align: center;
    font-size: 10px;
     letter-spacing: 0.02em;
    text-transform: uppercase;
}
.contenido > p >span{
    font-weight: bold;
    font-size: 17px;
}
        
.contenidoSeguidores p span:nth-child(1) {
    font-weight: bold;
                color:gray;

}
.contenidoSeguidores p span:nth-child(2) {
        color:blue;
}
   