/***********ESTILOS DE FOOTER  de la pagina**************
**Realizamos este css aparte ya que lo necesitamos*******
**para reautilizar en todas las paginas que necesitemos**/


 footer {
    background-color: #f8f8f8;
    color: #8c8c8c;
    clear: both;
    margin-top: 30px;
}
.logos{
	border-bottom: 1px solid;

	width: 100%;
	display:table;
}
footer .logos li {
	display: table-cell;
}
footer .logos span{
	display: block;
		margin-bottom: 10%;
}
footer .logos img{
	margin: auto;
}

footer h6{
	color: dimgray;
	font-weight: bold;
}
footer a{
	color: dimgrey;
}
.logo2 a:hover{
	color: #f51167;
}


/******SOCIALES********/


 .redes-sociales a i {
	font-size: 30px;
	color: #d7d7d7;
	float: left;
	margin-right: 19px;
	overflow: hidden;
	transition: all 0.3s;
}
.redes-sociales a span {
	display: inline-block;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	color: dimgray;
	padding-top: 10px;
	transition: all 0.3s;
}
.redes-sociales a.instagram:hover i {
	color: #2F5D84;
}

.redes-sociales a.google-plus:hover i {
	color: #E04B37;
}

.redes-sociales a.twitter:hover i {
	color: #5abed6;
}
.redes-sociales a.facebook:hover i {
	color: #39599F;
}
 .redes-sociales a.twitter:hover i {
	color: #5abed6;
}

.redes-sociales a.youtube:hover i {
	color: #D12227;
}

.redes-sociales a:hover span {
	color: black;
}
